/* _content/App-Web-Hospital-Horizonte/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
*[b-l08lvo4ujc] {
  font-family: "Sura", serif;
  font-weight: 400;
  font-style: normal;
}

.sura-bold[b-l08lvo4ujc] {
  font-family: "Sura", serif;
  font-weight: 700;
  font-style: normal;
}

