/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
* {
  font-family: "Sura", serif;
  font-weight: 400;
  font-style: normal;
}

.sura-bold {
  font-family: "Sura", serif;
  font-weight: 700;
  font-style: normal;
}

