@{
    ViewData["Title"] = "Eps";
}

<div class="container text-center mt-4">
    <div class="row align-items-center justify-content-center">
        <!-- Botones principales -->
        <div class="col-12 col-sm-6 col-md-3 mb-3">
            <button type="button" class="btn btn-primary w-100">Servicios a un Click</button>
        </div>
        <div class="col-12 col-sm-6 col-md-3 mb-3">
            <button type="button" class="btn btn-primary w-100">Agendar Cita</button>
        </div>
        <div class="col-12 col-sm-6 col-md-3 mb-3">
            <button type="button" class="btn btn-primary w-100">Exámenes</button>
        </div>
        <div class="col-12 col-sm-6 col-md-3 mb-3">
            <button type="button" class="btn btn-primary w-100">Registros Pendientes</button>
        </div>

        <!-- Información del usuario -->
        <div class="col-12 text-center mt-4">
            <p class="fs-4">RUBY PEREZ PEREZ</p>
            <p class="fs-5">1.022.143.260</p>
            <img src="https://cdn-icons-png.flaticon.com/512/4792/4792929.png" class="img-thumbnail mx-auto d-block" alt="..." style="max-width: 150px;">
        </div>
    </div>

    <!-- Sección de información colapsable -->
    <div class="mt-4">
        <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">
            Más información
        </button>

        <div class="collapse mt-3" id="collapseExample">
            <div class="card card-body">
                <div class="vr">
                    
                </div>
            </div>
        </div>
    </div>
</div>
