@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="https://www.epssura.com/files/home-2021/img/banner-medicamentos-que-usas.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="https://www.epssura.com/files/home-2021/img/banner-traslado-ips-basica-junio-2024.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="https://www.epssura.com/files/home-2021/img/banner-como-reclamar-los-medicamentos-2024.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    </div>
    
</div>
