@{
    ViewData["Title"] = "Register";
}
<div>
    <div>
        <h1>Crea tu cuenta de HORIZONTE </h1>
    </div>
    <form action="/Home/RegisterUsuario" method="post">
        <div class="mb-3">
            <select class="form-select" id="tipoIdentificacion" name="TipoIdentificacion" required>
                <option selected>Seleccione su Tipo de identificación: </option>
                <option value="1">Cédula de ciudadanía</option>
                <option value="2">Cédula de extranjería</option>
                <option value="3">Pasaporte</option>
            </select>
        </div>
        
        <div class="mb-3">
            <input type="number" class="form-control" name="NumeroIdentificacion" id="numeroIdentificacion" placeholder="Número de identificación" required>
        </div>

        <div class="mb-3">
            <input type="text" class="form-control" name="Nombre" id="nombre" placeholder="Nombres" required>
        </div>

        <div class="mb-3">
            <input type="text" class="form-control" name="Apellido" id="apellido" placeholder="Apellidos" required>
        </div>

        <div class="mb-3">
            <input type="date" class="form-control" name="Fecha" id="Fecha" required>
        </div>

        <div class="mb-3">
            <select class="form-select" id="Genero" name="Genero" required>
                <option selected>Seleccione su Género: </option>
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
                <option value="Otro">Otro</option>
            </select>
        </div>

        <div class="mb-3">
            <input type="number" class="form-control" name="NumeroCelular" id="NumeroCelular" placeholder="Telefóno Celular" required>
        </div>

        <div class="mb-3">
            <input type="text" class="form-control" name="Direccion" id="Direccion" placeholder="Direccion" required>
        </div>

        <div class="mb-3">
            <input type="email" class="form-control" name="CorreoElectronico" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo Electrónico" required>
        </div>

        <div class="mb-3">
            <input type="password" class="form-control" name="Contrasena" id="exampleInputPassword1" placeholder="Contraseña" required>
        </div>

        

        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
            <label class="form-check-label" for="exampleCheck1">Acepto los Términos del servicio y la Política de privacidad y ley de datos personales</label>
        </div>
        <button type="submit" class="btn btn-primary">Registrarme</button>
    </form>
</div>

